In [3]:
#!pip install pandas
import sqlite3
import pandas as pd

In [4]:
# create a connection to a database
db = sqlite3.connect('games.db')

In [7]:
# create a cursor
cursor = db.cursor()

In [9]:
# select whole table from database "games"
cursor.execute("select * from games")

In [10]:
# this will show the first row in the data
cursor.fetchone()

('1/8/22',
 'Sat',
 '',
 '',
 '',
 'Normal',
 '',
 '2:20 PM',
 '成乙',
 'Adult',
 'Cup',
 'Group',
 '锦江仁德 A4',
 '车百业 v 方头鱼',
 '4th O',
 '杨坤、王其炽、李聪聪',
 'White v Blue',
 '2:1',
 "53', 80'",
 "36'",
 'Away',
 'Right',
 '40 mins/half & 15 mins break',
 '5',
 '11',
 'Cloudy',
 '10',
 "YC, HT; 26, 44' Reckless; YC, AT; 17, 49' Reckless; YC, HT; 19, 51' Reckless; YC, HT; 31, 55' Reckless; YC, HT; 21, 60' Dissent; RC, HT; 21, 60' Verbal Abuse; YC, HT; 32, 70' Reckless; YC, AT; 11, 74' Reckless",
 '7',
 '0',
 '1')

In [16]:
# show the columns in the database
cursor.execute("select * from pragma_table_info('games') as tblInfo;")

In [17]:
# show the columns in the database
cursor.fetchall()

[(0, 'Game_Date', '', 0, None, 0),
 (1, 'Game_Day', '', 0, None, 0),
 (2, 'Distance', '', 0, None, 0),
 (3, 'Game_Number', '', 0, None, 0),
 (4, 'Game_Number1', '', 0, None, 0),
 (5, 'FULL_GAME', '', 0, None, 0),
 (6, 'Distance_From_Home', '', 0, None, 0),
 (7, 'Time', '', 0, None, 0),
 (8, 'Game_Type', '', 0, None, 0),
 (9, 'Level', '', 0, None, 0),
 (10, 'Competition_System', '', 0, None, 0),
 (11, 'Stage', '', 0, None, 0),
 (12, 'Site', '', 0, None, 0),
 (13, 'Team_Home_vs_Away', '', 0, None, 0),
 (14, 'Poisition', '', 0, None, 0),
 (15, 'Other_Officials', '', 0, None, 0),
 (16, 'Color_Home_vs_Away', '', 0, None, 0),
 (17, 'Score', '', 0, None, 0),
 (18, 'Score_Time_Home', '', 0, None, 0),
 (19, 'Score_Time_Away', '', 0, None, 0),
 (20, 'Kick_off', '', 0, None, 0),
 (21, 'Attack_Direction', '', 0, None, 0),
 (22, 'Duration', '', 0, None, 0),
 (23, 'Ball_Size', '', 0, None, 0),
 (24, 'Number_of_Players', '', 0, None, 0),
 (25, 'Weather', '', 0, None, 0),
 (26, 'Temperature_Celsius', '', 0, None, 0),
 (27, 'Report', '', 0, None, 0),
 (28, 'YC_Count', '', 0, None, 0),
 (29, 'YCs_Count', '', 0, None, 0),
 (30, 'RC_Count', '', 0, None, 0)]

In [27]:
# select the game played as 11 vs 11
cursor.execute("select * from games where Number_of_Players == '11';")
game11v11 = cursor.fetchall()
print(f"I have officiated {len(game11v11)} 11 vs 11 games from January to July 2022.")

I have officiated 41 11 vs 11 games from January to July 2022.

In [28]:
# select the game played as 8 vs 8
cursor.execute("select * from games where Number_of_Players == '8';")
game8v8 = cursor.fetchall()
print(f"I have officiated {len(game8v8)} 8 vs 8 games from January to July 2022.")

I have officiated 26 8 vs 8 games from January to July 2022.

In [29]:
# select the game officiated as referee
cursor.execute("select * from games where Poisition == 'RR';")
RR = cursor.fetchall()
print(f"I have officiated {len(RR)} games as referee from January to July 2022.")

I have officiated 30 games as referee from January to July 2022.

In [30]:
# select the game officiated as assistant referee
cursor.execute("select * from games where Poisition like 'AR%';")
AR = cursor.fetchall()
print(f"I have officiated {len(AR)} games as assistant referee from January to July 2022.")

I have officiated 11 games as assistant referee from January to July 2022.

In [25]:
# select the game officiated as 4th official
cursor.execute("select * from games where Poisition == '4th O';")
fourthO = cursor.fetchall()
print(f"I have officiated {len(fourthO)} games as 4th official from January to July 2022.")

I have officiated 23 as 4th official from January to July 2022.